<html>
    <head>
        <body>
            <p>Dear {{ contact.name }},</p>

            <p>Many thanks you for your {{ contact.category }} enquiry.</p>
            
            <p>QUERY: {{ contact.query }}</p>
            
            <p>REPLY: {{ contact.reply }}</p>
            
            <p>Please do not hesitate to contact me with any further queries.</p>
            
            <p>All the best<br>
            Colette O'Sullivan</p>
            
            <a href="https://www.coletteosullivan.com/">Interior Architect & Designer</a>
        </body>
    </head>
</html>