<p>Dear {{ contact.name }},<br>
Many thanks you for your {{ contact.category }} enquiry.</p>
            
<table style="background-color: #f4f4f4;">
    <tr>
        <td><strong>QUERY</strong></td>
        <td>{{ contact.query }}</td>
    </tr>
    <tr>
        <td><strong>REPLY</strong></td>
        <td>{{ contact.reply }}</td>
    </tr>
</table>
            
<p style="font-style: italic;">Please do not hesitate to contact me with any further queries.<br>
Colette O'Sullivan<br>
Interior Architect & Designer</p>

<hr>
            
<a href="https://www.coletteosullivan.com/">web</a>
<a href="https://www.coletteosullivan.com/">instagram</a>
