<p>Dear {{ contact.name }},<br>
Many thanks you for your {{ contact.category }} enquiry.</p>
                            
<table style="background-color: #f4f4f4; border: 1px double black; width: 80%">
<tr>
<td style="padding: 15px; vertical-align: top;"> <strong>QUERY</strong></td>
<td style="padding: 15px;">{{ contact.query }}</td>
</tr>
<tr>
<td style="padding: 15px; vertical-align: top;"><strong>REPLY</strong></td>
<td style="padding: 15px;">{{ contact.reply }}</td>
</tr>
</table>
                            
<p>Please do not hesitate to contact me with any further queries.</p>
<p style="font-style: italic;">Colette O'Sullivan<br>
Interior Architect & Designer</p>
                
<hr>
<a href="https://www.coletteosullivan.com/" style="color: black; text-decoration: none">web</a>
<a href="https://www.coletteosullivan.com/" style="text-decoration: none; color: black">instagram</a>