{% extends 'base.html' %}
{% block content %}

<!--PROJECT HEADER-->
<header class="row border-color--stone" data-page="{{ title }}">

    <div class="col-12 col-lg-8 offset-lg-2 order-3 order-md-1 text-center p-0 ">
        <img src="{{ project.image_portrait.url }}" class="d-md-none image-fluid w-100"
            alt="{{ project.title }} image">
        <img src="{{ project.image_landscape.url }}" class="d-none d-md-block image-fluid w-100"
            alt="{{ project.title }} image">
    </div>

    <div class="col-12 col-md-6 order-1 order-md-2 d-flex justify-content-center bg-color--stone">
        <div class="align-self-center m-3 m-md-4 m-lg-5 text-center">
            <div class="header-border">
                <h1 class="header-category">{{ project.category.title }}</h1>
                <h2 class="header-title">{{ project.title }}</h2>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 order-2 order-md-3 text-center bg-color--stone d-flex justify-content-center">
        <div class="align-self-center m-3 m-md-4 m-lg-5 text-center">
            <p class="italics m-0">{{ project.content }}</p>
        </div>
    </div>
</header>

<!--PROJECT CONTENT-->
<section class="row border-color--stone">
    <div class="col-12 col-lg-10 offset-lg-1 mb-5">
        {% for section in sections %}
        <div class="mt-5">
            <h3 class="h-section">{{ section.title }}</h3>
            <p>{{ section.content|linebreaks }}</p>
            {% if section.image %}
            <figure class="row">
                <div class="col-12 col-lg-10 offset-lg-1 text-center">
                    <img src="{{ section.image.url }}" class="img-fluid" alt="project section image">
                    <br>
                    <figcaption class="pl-md-1">
                        {{ section.caption }}
                    </figcaption>
                    {% if section.caption_url %}
                    <a href="{{ section.caption_url }}" class="link">
                        source
                    </a>
                    {% endif %}
                </div>
            </figure>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>


{% if downloads %}
<!--PROJECT DOWNLOADS-->
<article class="row pt-4 bg-color--stone">

    <header class="col-12 col-md-5 col-lg-4 offset-lg-1 text-center">
        <div class="header-border">
            <h1 class="header-title mt-2">DOWNLOADS</h1>
        </div>
        <span class="d-block mt-4 mb-2">Additional project content available for download.
        </span>
    </header>

    <section class="col-12 col-md-7 col-lg-6">
        {% for download in downloads %}
        <div class="bg-color--white mb-4 p-2">

        <table class="mt-2">
            <tr>
                <th>Title</th>
                <td class="uppercase">{{ download.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ download.content }}</td>
            </tr>
            {% if download.price %}
            <tr>
                <th>Price</th>
                <td>€{{ download.price }}</td>
            </tr>
            {% endif %}
        </table>
        {% if download.price %}
        <a class="d-inline-block button-a" href="{% url 'add' pk=download.id %}">PURCHASE</a>
        {% else %}
        <a class="d-inline-block button-a" href="{{ download.download.url }}" target="_blank" rel="noopener">DOWNLOAD</a>
        {% endif %}

    </div>
    {% endfor %} 
    </section>
</article>
{% endif %}
{% endblock %}