{% extends 'base.html' %}
{% block content%}

<section class="row" data-page="{{ title }}">
<!--PROJECT CARDS-->
    {% for project in page_obj %}
    <div class="col-12 col-md-6 col-lg-4 mb-4">
        <div class="card rounded-0 border-0 mb-2">
            <img src="{{ project.image_portrait.url }}" class="card-img-top image-fluid rounded-0 border-color--stone"
                alt="Placeholder image">
            <div class="card-body bg-color--stone">
                <div class="header-border">
                    <a href="{% url 'project' pk=project.id %}">
                        <h1 class="header-category">{{ project.category.title }}</h1>
                        <h2 class="header-title">{{ project.title }}</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
<!--https://stackoverflow.com/questions/46316719/how-to-make-card-header-no-border-radius-in-bootstrap-4-->
</section>

<!--PAGINATION-->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<!--# pagination from django docs https://docs.djangoproject.com/en/3.0/topics/pagination/-->

{% endblock %}