{% extends 'base.html' %}

{% load static %}

{% block title %}
Project
{% endblock %}

{% block content %}
<h2 class="text-center">{{ project.category.title }}</h2>
<h1 class="text-center">{{ project.title }}</h1>

<img src="{{ project.image_portrait.url }}" class="d-md-none image-fluid w-100" alt="Project portrait Placeholder image">
<img src="{{ project.image_landscape.url }}" class="d-none d-md-block image-fluid w-100" alt="Project landscape Placeholder image">
<div class="row">
    <div class="col-lg-10 offset-lg-1">
<p>{{ project.content|linebreaks }}</p>
</div>
</div>

<!--SECTIONS-->
{% for section in sections %}
<div class="row">
    <div class="col-lg-10 offset-lg-1">

<section class="mt-3">
    <h3 class="mt-3">{{ section.title }}</h3>
    {% if section.image_portrait %}
   

       
<img src="{{ section.image_portrait.url }}" class="image-fluid w-100" alt="Section portrait Placeholder image">
{% endif %}
{% if section.image_landscape %}
<img src="{{ section.image_landscape.url }}" class="image-fluid w-100" alt="Section landscape Placeholder image">
{% endif %}


<p>{{ section.content|linebreaks }}</p>
</section>
</div>
</div>
{% endfor %}

{% endblock %}