@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css?family=Niconne&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alata|Alef|Asul|B612|Cantarell|Comfortaa|GFS+Neohellenic|Gudea|Josefin+Sans|Karla|Kulim+Park|M+PLUS+1p|Oxygen|Pavanam|Poppins|Puritan|Reem+Kufi|Sulphur+Point|Syncopate&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya|Arapey|Barlow+Semi+Condensed|Crimson+Text|Fira+Sans+Extra+Condensed|Frank+Ruhl+Libre|Gelasio|Gudea|Gupter|Hind+Vadodara|Ibarra+Real+Nova|Jaldi|Martel|Neuton|PT+Serif|Pontano+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ovo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ovo|PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ibarra+Real+Nova:400,400i,600,600i,700,700i&display=swap');

.font-500{
    font-weight: 500;
}

.font-600{
    font-weight: 600;
}

.font-700{
    font-weight: 700;
}

.font-8rem{
    font-size: .8rem;
}

.font-9rem{
    font-size: .9rem;
}


.font-1rem{
    font-size: 1rem;
}

.font-11rem{
    font-size: 1.1rem;
}

.font-12rem{
    font-size: 1.2rem;
}


.font-13rem{
    font-size: 13rem;
}



.hide-start {
    display: none;
  }
  /*WHY: Used to prevent first load flicker experienced when jQuery hide() used to hide elements at start.
  Bootstrap display classes not working with jQuery hide() so own css written.*/

  
  /* text-transform: uppercase;*/

body {
    font-family: 'Ibarra Real Nova', serif;
}


h1, h2, h3, h4, .heading {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    
}



h1 {
    font-size: 1.2rem;
    font-weight: 500;
}

h2 {
    font-size: 1.1rem;
    font-weight: 500;
}

h3 {
    font-weight: 500;
    font-size: .9rem;
    text-align: center;
}

h4 {
    font-size: 1rem;
}

.heading-category {
    font-weight: 600;
    font-size: .8rem;
    text-transform: uppercase;
    text-align: center;
}

.heading-title {
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.heading-section {
    font-weight: 500;
    font-size: .9rem;
    text-transform: uppercase;
    text-align: center;
}




.title {
    font-size: 1.2rem;
    letter-spacing: .06rem;
    font-weight: 600;
}

.title-tagline {
    font-size: 1.2rem;
    font-weight: 600;
}


button {
    background-color: #000000;
    color: #ffffff;
    border: 0px;
    font-size: .8rem;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    /*text-align: center;*/
    padding: 8px;
    margin: 8px;
}

.uppercase {
    text-transform: uppercase;
}

.textarea-style {
width: 100%;
border: 0;
}

.border-stone {
border: 1.5px solid rgba(244, 244, 244);
}

.border-stone--1 {
    border: 1px solid rgba(244, 244, 244);
    }

.stone {
    background-color: rgba(244, 244, 244, .95);

}


.opacity {
    background: rgba(255, 255, 255, .8);
}
/*https://stackoverflow.com/questions/28252119/creating-semi-transparent-borders*/




.height4 {
    min-height: 300px;
}

.height-card {
    height: 700px;
}

nav {
    background-color: rgba(244, 244, 244, .95);
    color: #000000!important;
    font-size: .9rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.navbar-text {
    color: #000000!important;
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;

}

/*a {
    color: #000000;
}*/



.caption {
    font-size: .9rem;
    font-style: italic;
    font-weight: 600;
}

.card-body--category {
  font-size: .9rem;
  font-weight: bold;
}

.card-body--title {
    font-size: .8rem;
  }



/*WHY: Set height for blog card images as images are not consistent size.*/
.wrap-img--card {
    height: 250px;
    position: relative;
}

.wrap-img--section {
    height: 400px;
    position: relative;
}

.italics {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.overline {
    text-decoration: overline;
}



/*WHY: Set height as title text is not conistent length.*/
.height-cardtext {
    height: 100px;
}

.background-img {
    background-size: cover !important;
    background-position: center !important;
    height: 100%;
}
/* WHERE: credit anna_ci https://github.com/AJGreaves/familyhub*/




/*h1 {text-align: center; position: relative;}
h1 .border {border-bottom: 3px solid #000000; position: absolute; width: 100%; left: 0; top: 50%; margin-top: -1px; z-index: 1;}
h1 .text {background-color: #fff; position: relative; z-index: 2; padding: 10px; display: inline-block;}

https://stackoverflow.com/questions/32769825/bootstrap-text-element-with-line-behind-text/32769911*/























@media (max-width: 1200px) {
    .sticky-navbar {
        position: -webkit-sticky; /* Safari */
        position: sticky;
        top: 0;
        z-index: 10;
      }     
    }
    /*https://www.w3schools.com/howto/howto_css_sticky_element.asp*/


    /*----------MEDIA QUERIES----------*/

@media (min-width: 768px) and (max-width: 991px) {   


    p {
        font-size: 1rem;
    }

    /*.height4 {
        min-height: 400px;
    }*/

    
}

@media (min-width: 992px) {
       
   p {
       font-size: 1rem;
   }

   /*.height4 {
    min-height: 400px;
}*/
    
}

#pairing {
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Frank Ruhl Libre', serif;
}






  


/*a.j-paginate.juicer-button {
    margin: auto;
    border: 1px solid #000000;
  }
  
  .juicer-feed h1.referral {
    margin: 0px;
  }

  .juicer-feed .j-paginate:hover {
    background: #ffffff;
    color: #000000;
}

.juicer-feed {
    font-family: 'Montserrat', sans-serif;
}

*/


/* INSTAGRAM JUICER FEED */
/*can't target the a need to leave default*/

.juicer-feed h1.referral {
   
    margin: auto!important;
  
}

.juicer-feed .j-loading-wrapper, .juicer-feed .j-paginate {
    margin: auto!important;
}

.juicer-feed .j-paginate {
    border: 1.5px solid black!important;    color: black!important;
    font-family: 'Montserrat', sans-serif!important;
}


.juicer-feed:hover {
    font-family: 'Montserrat', sans-serif!important;
    text-transform: uppercase!important;
    font-size: 10px!important;
}

.j-paginate:hover {
    background: #ffffff!important;
    color: #000000!important;
}

    