{% extends 'admin/base.html' %}
{% load static %}

{% block extrahead %}
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
{% endblock %}
<!--Credit: Setting favicon https://stackoverflow.com/questions/34959897/set-favicon-in-django-admin -->

{%  block branding %}
<h1 id="head"><img class="brand_img" src="{% static 'images/logo.png' %}" alt="Logo COS" width="40"> COLETTE O'SULLIVAN</h1>
{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}
<!--Credit: Extending admin/base Brad Traversy https://www.udemy.com/course/python-django-dev-to-deployment/ -->