{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <title>Interior Architect {{ title }}</title>
</head>

<body>
  <!--HEADER-->
  <header class="mt-4 mb-4 text-center">
    <a href="{% url 'index' %}">
      <h1 class="d-inline-block name">COLETTE O'SULLIVAN
        <span class="d-block d-md-inline-block name-tagline ml-md-3">Interior Architect & Designer</span>
      </h1>
    </a>
  </header>

  <!--NAVBAR-->
  <nav class="navbar navbar-expand-md navbar-light sticky-navbar mb-4" data-nav="navbar">
    <div class="hide-start" data-nav="navbrand">
      <a href="{% url 'index' %}" class="navbar-text d-md-none">
        Interior Architect
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav mx-auto">
        <a class="nav-item nav-link" data-nav="About" href="{% url 'about' %}">ABOUT</a>
        <a class="nav-item nav-link" data-nav="Blog" href="{% url 'blogs' %}">BLOG</a>
        <a class="nav-item nav-link" data-nav="Portfolio" href="{% url 'projects' %}">PORTFOLIO</a>
        <a class="nav-item nav-link" data-nav="Contact" href="{% url 'contact' %}">CONTACT</a>
        {% if user.is_authenticated %}
        <a class="nav-item nav-link client" data-nav="Comments" href="{% url 'comments' %}">comments</a>
        <a class="nav-item nav-link client" data-nav="Contacts" href="{% url 'contacts' %}">contacts</a>
        <a class="nav-item nav-link client" data-nav="Logout" href="{% url 'logout' %}">logout</a>
        {% endif %}
      </div>
    </div>
  </nav>

  <!--MESSAGES-->
  {% if messages %}
  {% for message in messages %}
  <section class="alert alert-{{ message.tags }}">
    {{ message }}
  </section>
  {% endfor %}
  {% endif %}
  <!--WHERE: Corey Schafer https://www.youtube.com/watch?v=q4jPR-M0TAQ&list=PL-osiE80TeTtoQCKZ03TU5fNfx2UY6U4p&index=6-->

  <!--MAIN BLOCK CONTENT-->
  <main class="container mb-4">
    {% block content %}{% endblock %}
  </main>

  <!--JS-->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <!--WHY: .slim.min.js replaced with min.js to allow slide up & down-->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-circle-progress/1.2.2/circle-progress.min.js"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>