{% extends 'base.html' %}
{% load static %}

{% block style_head %}
<link rel="stylesheet" href="{% static 'cv/css/main.css' %}">
{% endblock %}

{% block content %}

<header class="row mt-3" data-page="{{ title }}">
    <div class="col-12 order-2 col-md-6 col-lg-8 bg-color--stone d-flex">
        <p class="align-self-center m-3 m-md-4 m-lg-5">
            I would describe myself as a creative person with a passion for architecture and design. My experience has ranged from working in architectural and engineering offices, to teaching and directing a course at the Interior Design Academy of Ireland. I have gained the skills to work effectively and efficiently both independently and within a team. Combining my industry experience with good communication and presentation skills, enables me take a design from initial concept through to completion.
        </p>
    </div>
    <div class="col-12 order-1 col-md-6 col-lg-4 p-0 bg-img--work">
    </div>
</header>

<section class="row border-color--stone mb-4">
    <div class="col-12 m-0 p-0">
        <!--WHY: Wrapping row & col to apply border to section.-->

        <!--EXPERTISE-->
        <article class="row m-0 mt-4">
            <!--EXPERTISE HEADING-->
            <header class="col-12 col-lg-3 offset-lg-1">
                <!--SM DEVICES-->
                <div class="d-block d-md-none header-border mt-4 mb-4">
                    <h2 class="h-article">Expertise</h2>
                    <span>Proficiency Levels</span>
                </div>
                <!--MD & LG DEVICES-->
                <div class="d-none d-md-block mb-md-3 mt-4">
                    <h2 class="h-article">Expertise</h2>
                    <span>Proficiency Levels</span>
                </div>
            </header>

            <!--EXTERTISE CONTENT-->
            <section class="col-12 col-lg-7">
                <div class="row">
                    {% for skill in skills %}
                    <div class="col-6 col-md-3 text-center mb-3">
                        <div class="circle" data-circle='{{ skill.percent }}'>
                            <strong class="">{% widthratio skill.percent 1 100 %}%</strong>
                            <span class="">{{ skill.program }}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!--WHY: Row used to allow grid to determine number circles to display per screen width-->
            </section>
            <!--WHERE: Multiply in template tag https://stackoverflow.com/questions/6285327/how-to-do-math-in-a-django-template-->
        </article>

        <!--EDUCATION-->
        <article class="row m-0 mt-4">
            <!--EDUCATION HEADING-->
            <header class="col-12 col-lg-3 offset-lg-1 mt-4">
                <!--SM DEVICES-->
                <div class="d-block d-md-none header-border mb-3">
                    <h2 class="h-article">EDUCATION</h2>
                    <span>Training & Qualifications</span>
                </div>
                <!--MD & LG DEVICES-->
                <div class="d-none d-md-block mt-lg-4">
                    <h2 class="h-article">EDUCATION</h2>
                    <span>Training & Qualifications</span>
                </div>
            </header>

            <!--EDUCATION CONTENT-->
            <section class="col-12 col-lg-7 p-1">
                <ul class="timeline">

                    {% for study in studies %}
                    <li>
                        <strong class="uppercase">{{ study.title }}</strong>
                        <span class="d-none d-md-block float-right">{{ study.timeframe }}</span>
                        <p class="d-block d-md-none m-0">{{ study.timeframe }}</p>
                        <p class="m-0">{{ study.company }}</p>
                        <small>{{ study.content }}</small><br>
                        {% if study.examples.all %}
                        <button class="button-more" data-btn="id{{ study.id }}">...</button>
                        {% endif %}
                        <div class="hide-start bg-color--stone pt-2" data-div="id{{ study.id }}">
                            {% for example in study.examples.all %}
                            <div class="row mt-3">
                                <div class="col-12">
                                    <strong>Example</strong>
                                    <a class="link"
                                        href="{% url 'project' pk=example.project.id %}">{{ example.project.title }}</a>
                                    <img src="{{ example.project.image_portrait.url }}"
                                        class="d-block d-md-none img-fluid" alt="{{ example.project.title }} image">
                                    <img src="{{ example.project.image_landscape.url }}"
                                        class="d-none d-md-block img-fluid" alt="{{ example.project.title }} image">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <!--END TIMELINE-->
                <!--WHERE: Timeline https://bootsnipp.com/snippets/xrKXW-->
                <!--WHERE: Foreign key in template tag https://stackoverflow.com/questions/12281965/django-foreign-key-relation-in-template-->
            </section>
        </article>
        
    <!--EMPLOYMENT-->
        <article class="row m-0">
<!--EMPLOYMENT HEADING-->
            <header class="col-12 col-lg-3 offset-lg-1 mt-4">
                <!--SM DEVICES-->
                <div class="d-block d-md-none header-border mb-3">
                    <h2 class="h-article">EMPLOYMENT</h2>
                    <span>Download Full CV </span><a class="link" href="{% static 'pdfs/cv_colette_o_sullivan.pdf' %}">here</a>
                </div>
                <!--MD & LG DEVICES-->
                <div class="d-none d-md-block mt-lg-4">
                    <h2 class="h-article">EMPLOYMENT</h2>
                    <span>Download Full CV </span><a class="link" href="{% static 'pdfs/cv_colette_o_sullivan.pdf' %}" target="_blank" rel="noopener">here</a>
                </div>
            </header>

            <!--EMPLOYMENT CONTENT-->
            <section class="col-12 col-lg-7 p-1">
                <ul class="timeline">
                    {% for job in jobs %}
                    <li>
                        <strong class="uppercase">{{ job.title }}</strong>
                        <span class="d-none d-md-block float-right">{{ job.timeframe }}</span>
                        <p class="d-block d-md-none m-0">{{ job.timeframe }}</p>
                        <p class="m-0">{{ job.company }}</p>
                        <button class="button-more" data-btn="id{{ job.id }}">...</button>
                        <div class="hide-start bg-color--stone pt-2" data-div="id{{ job.id }}">
                            <ul>
                                {% for point in job.points.all %}
                                <li>{{ point.content }}</li>
                                {% endfor %}
                            </ul>
                            {% for example in job.examples.all %}
                            <div class="row mt-3">
                                <div class="col-12">
                                    <strong>Example</strong>
                                    <a class="link"
                                        href="{% url 'project' pk=example.project.id %}">{{ example.project.title }}</a>
                                    <img src="{{ example.project.image_portrait.url }}"
                                        class="d-block d-md-none img-fluid border-color--stone" alt="{{ example.project.title }} image">
                                    <img src="{{ example.project.image_landscape.url }}"
                                        class="d-none d-md-block img-fluid border-color--stone" alt="{{ example.project.title }} image">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <!--END TIMELINE-->
                <!--WHERE: Timeline https://bootsnipp.com/snippets/xrKXW-->
                <!--WHERE: Foreign key in template tag https://stackoverflow.com/questions/12281965/django-foreign-key-relation-in-template-->
            </section>
        </article>

    </div>
</section>
{% endblock %}

{% block script_body %}
<script src="{% static 'cv/js/main.js' %}"></script>
{% endblock %}