{% extends 'base.html' %}

{% load static %}


{% block title %}
Contacts
{% endblock %}

{% block content%}

<section class="row mb-4">

    <div class="d-none d-md-block col-md-5 col-lg-5  background-contact"
        style="background-image: url({% static 'images/contact2.jpg' %})">

    </div>


    <div class="col-12 col-md-7 col-lg-6 offset-lg-1 border-stone">
        <div class="border-top border-bottom border-dark p-2 mt-3 client">
            <h1 class="text-center mt-3 client">Contacts List</h1>
            <p class="italics text-center client">Sorted by date & replied. <br class="d-block d-md-none">Click reply to
                post reply.</p>
        </div>

        

            {% for contact in contacts %}
            <div class="col-12 stone mb-3">
            <table class="mt-3">
                <tr>
                    <td><strong>Category</strong></td>
                    <td>{{ contact.category }} {{ contact.location }}</td>
                </tr>
                <tr>
                    <td><strong>Date Rec.</strong></td>
                    <td>{{ contact.date }}</td>
                </tr>
                <tr>
                    <td><strong>From</strong></td>
                    <td>{{ contact.name }} {{ contact.email }} {{ contact.phone }}</td>
                </tr>
                <tr>
                    <td><strong>Query</strong></td>
                    <td>{{ contact.query}}</td>
                </tr>

                
                
                
            </table>

    
            <form method="POST"  action="{% url 'contacts' contact.pk %}">
                {% csrf_token %}
                {{ form }}
             <button type="submit">SAVE REPLY</button>
            </form>
            <!--Credit https://stackoverflow.com/questions/38046905/sending-post-data-from-inside-a-django-template-for-loop-->
           
                </div>
            {% endfor %}
         

       




</section>







{% endblock %}