{% extends 'base.html' %}

{% block script_head %}
<script src="https://js.stripe.com/v3/"></script>
{% endblock %}
<!--WHY: As per Stripe documentation script should be saved in head.-->

{% block content %}
{% include 'include.html' with tagline='Downloads in current shopping cart.' %}

<div class="bg-color--stone mb-4 p-2">
    {% if request.session.download_count is not 0 %}  
<table class="table">  
    <thead>
        <th>Title</th>
        <th>Price</th>
    </thead>
    {% for item in cart.downloads.all %}
    <tr>
        <td>{{ item.title }}</td>
        <td>€{{ item.price }}</td>
        <td><a class="d-inline-block button-a m-0" href="{% url 'remove' pk=item.id %}">
            <i class="d-md-none fas fa-trash-alt"></i>
            <span class="d-none d-md-inline-block">REMOVE</span>
        </a></td>
    </tr>
{% endfor %}
<tr>
    <td>TOTAL</td>
    <td>€{{ cart.total }}</td>
    <td></td>
</tr>
</table> 

<span class="d-block client text-center">Downloads sent to email provided at payment.</span>
<a class="d-inline-block button-a" id="checkout" href="{% url 'charge' %}">CHECKOUT</a>

{% else %}
<p>This cart is empty. Visit a portfolio project page to add a download.</p>
{% endif %}

</div>

<!--WHERE: Coding Point Django cart app tutorial https://www.youtube.com/watch?v=20HCDEwEdeo&list=PLPp4GCMxKSjCM9AvhmF9OHyyaJsN8rsZK&index=23&t=0s -->
</div>
</section>
{% endblock %}