{% extends 'base.html' %}
{% block content%}

<!--BLOG HEADER-->
<header class="row mt-4" data-page="{{ title }}">

    <div class="col-12 col-md-6 order-2 order-md-1 bg-img d-flex justify-content-center"
        style="background-image: url({{ blog.image.url }})">
        <!-- WHY: Inline style allows url to come from database.-->
        <!--HEADER TEXT - SM DEVICES-->
        <div class="col-12 d-md-none header-opaque align-self-center">
            <div class="header-border">
                <h1 class="header-category">{{ blog.category.title }}</h1>
                <h2 class="header-title">{{ blog.title }}</h2>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 order-1 order-md-2 bg-color--stone d-flex justify-content-center">
        <div class="align-self-center m-3 text-center">
            <!--HEADER TEXT - MD & LG DEVICES-->
            <div class="d-none d-md-inline-block header-border">
                <h1 class="header-category">{{ blog.category.title }}</h1>
                <h2 class="header-title">{{ blog.title }}</h2>
            </div>
            <p>{{ blog.content|linebreaks }}</p>
            <!--BUG: class not being applied with linebreaks-->
        </div>
    </div>

</header>

<!--BLOG CONTENT-->
<section class="row border-color--stone">
    <div class="col-12 col-lg-10 offset-lg-1 mb-5">
        {% for section in sections %}
        <div class="mt-5">
            <h3 class="h-section">{{ section.title }}</h3>
            <p>{{ section.content|linebreaks }}</p>
            {% if section.image %}
            <figure class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <img src="{{ section.image.url }}" class="img-fluid" alt="Placeholder image">
                    <figcaption class="d-inline-block pl-md-1 ">
                        {{ section.caption }}
                    </figcaption>
                    {% if section.caption_url %}
                        <a href="{{ section.caption_url }}" class="link">
                            source
                        </a>
                    {% endif %}
                </div>
            </figure>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>

<!--BLOG COMMENTS-->
<section class="row bg-color--stone pt-4 mb-4">
    <!--HEADING-->
    <header class="col-12 col-md-5 col-lg-4 offset-lg-1 text-center">
        <div class="header-border">
            <h1 class="header-title mt-2">COMMENTS</h1>
        </div>
        <span class="d-block mt-4">I would love to hear from you! Simply leave a comment or query about this blog and I will reply.
        </span>
        <span class="d-block mt-4">Like this blog? <a class="button-a" href="{% url 'like' pk=blog.id %}">Like</a></span>
    </header>

    <!--COMMENT FORM-->
    <div class="col-12 col-md-7 col-lg-6 text-center">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">POST COMMENT</button>
        </form>
    </div>

    <!--COMMENTS TODATE-->
    <div class="col-12 col-lg-10 offset-lg-1 text-center mt-4">
        {% for comment in comments %}
        <p class="mb-4">{{ comment.content }} <br>
            {% if comment.reply %}
            <span class="mr-2">REPLY</span><span class="">{{ comment.reply }}</span></p>
        {% endif %}
        <!--WHY: Included if to prevent REPLY from printing is no reply.-->
        {% endfor %}
    </div>

</section>
{% endblock %}