{% extends 'base.html' %}
{% block content%}

<section class="row" data-page="{{ title }}">
    <!--BLOG CARDS-->
    {% for blog in page_obj %}
    <div class="col-12 col-md-6 col-lg-4">
        <div class="card rounded-0 border-0 mb-3">
            <!-- Inline style allows url to come from database.-->
            <div class="bg-img d-flex justify-content-center" style="background-image: url({{ blog.image.url }})">
                <div class="header-opaque align-self-center">
                    <div class="header-border">
                        <a href="{% url 'blog' pk=blog.id %}">
                            <h2 class="header-category">{{ blog.category.title }}</h2>
                            <h3 class="header-title">{{ blog.title }}</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</section>
<!--WHERE: Remove Bootstrap border radius https://stackoverflow.com/questions/46316719/how-to-make-card-header-no-border-radius-in-bootstrap-4-->

<!--PAGINATION-->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<!--WHERE: Pagination https://docs.djangoproject.com/en/3.0/topics/pagination/-->
{% endblock %}