{% extends 'base.html' %}

{% load static %}

{% block title %}
Blog
{% endblock %}

{% block content%}

<div class="row mt-4">

    <!--<div class="col-12 d-md-none p-4">
        <div class="border-top border-bottom border-dark p-2">
            <h1 class="text-center font-600 font-8rem">{{ blog.category.title }}</h1>
            <h2 class="text-center font-500 font-1rem">{{ blog.title }}</h2>
        </div>
    </div>-->

    <div class="col-12 col-md-6 offset-lg-1 col-lg-5 height4 d-flex justify-content-center
    " style="background-image: url({% static 'images/paint.jpg' %})">

    <div class="col-12 d-md-none p-4 align-self-center opacity">
        <div class="border-top border-bottom border-dark p-2">
            <h1 class="text-center font-600 font-8rem">{{ blog.category.title }}</h1>
            <h2 class="text-center font-500 font-1rem">{{ blog.title }}</h2>
        </div>
    </div>    
    
    
    <!--<div class="d-inline-block d-md-none align-self-center">

            <div class=" opacity">
                <h1 class="text-center font-600 font-8rem mt-2">{{ blog.category.title }}</h1>
                <h2 class="text-center font-500 font-1rem">{{ blog.title }}</h2>
            </div>
        </div>-->
        <!-- WHY: Inline style allows url to come from database.-->
    </div>


    <div class="col-12 col-md-6 col-lg-5 stone d-flex justify-content-center height4 ">
        <div class="align-self-center m-3 ">
            <div class="d-none d-md-inline-block border-top border-bottom border-dark">
                <h1 class="text-center font-600 font-8rem mt-2">{{ blog.category.title }}</h1>
                <h2 class="text-center font-500 font-1rem">{{ blog.title }}</h2>
            </div>
            <p>{{ blog.content|linebreaks }}</p>
            <!--BUG: class not being applied with linebreaks-->
        </div>
    </div>

    <div class="col-12 offset-lg-1">
        {% if blog.caption_url %}
        <a href="{{ blog.caption_url }}" class="caption">{{ blog.caption }}</a>
        {% else %}
        <span class="caption">{{ blog.caption }}</span>
        {% endif %}
    </div>
</div>


<div class="row">
    <div class="col-12 col-lg-10 offset-lg-1">

        <!--SECTIONS-->
        {% for section in sections %}
        <section class="m-lg-3">


            <h3 class="mt-5">{{ section.title }}</h3>
            <p>{{ section.content|linebreaks }}</p>


            {% if section.image %}
            <div class="p-md-3 p-lg-5">
                <img src="{% static 'images/tall.jpg' %}" class="img-fluid" alt="Placeholder image">
                {% if section.caption_url %}
                <a href="{{ section.caption_url }}" class="caption pl-md-1">{{ section.caption }}</a>
                {% else %}
                <span class="caption pl-md-1">{{ section.caption }}</span>
                {% endif %}
            </div>
            {% endif %}











        </section>
        {% endfor %}

        <section class="mt-3 border-top stone">
            <h2>COMMENTS</h2>
            {% for comment in comments %}
            <p class="mb-2">{{ comment.content|linebreaks }}</p>
            {% endfor %}
        </section>


    </div>
</div>

{% endblock %}