{% extends 'base.html' %}
{% block content%}

<!--BLOG HEADER-->
<header class="row mt-4" data-page="{{ title }}">

    <div class="col-12 col-md-6 order-2 order-md-1 bg-img d-flex justify-content-center"
        style="background-image: url({{ blog.image.url }})">
    </div>

    <div class="col-12 col-md-6 order-1 order-md-2 bg-color--stone d-flex justify-content-center">
        <div class="align-self-center m-3 m-md-4 m-lg-5 text-center">
            <!--HEADER TEXT - MD & LG DEVICES-->
            <div class="d-inline-block header-border">
                <h2 class="header-category">{{ blog.category.title }}</h2>
                <h3 class="header-title">{{ blog.title }}</h3>
            </div>
            <p class="italics m-0 mt-3">{{ blog.content }}</p>
            <!--BUG: class not being applied with to alls ps when using linebreaks-->
        </div>
    </div>

</header>

<!--BLOG CONTENT-->
<section class="row border-color--stone">
    <div class="col-12 col-lg-10 offset-lg-1 mb-4">
        {% for section in sections %}
        <div class="mt-4">
            {% if section.title %}
            <h4 class="h-section">{{ section.title }}</h4>
            {% endif %}
            {% if section.content %}
            <p>{{ section.content|linebreaks }}</p>
            {% endif %}
            {% if section.image %}
            <div class="row">
                <figure class="col-12 col-md-10 offset-md-1 text-center m-0">
                    <img src="{{ section.image.url }}" class="img-fluid" alt="blog section image">
                    <br>
                    {% if section.caption %}
                    <figcaption class="pl-md-1 ">
                        {{ section.caption }}
                        {% if section.caption_url %}
                        <a href="{{ section.caption_url }}" class="link" target="_blank" rel="noopener">
                            source
                        </a>
                        {% endif %}
                    </figcaption>
                    {% endif %}
                </figure>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
<!--WHY: Multiple ifs used to ensure no empty tags in rendered page.-->

<!--BLOG COMMENTS-->
<section class="row bg-color--stone pt-4 mb-4">
    <!--HEADING-->
    <header class="col-12 col-md-5 col-lg-4 offset-lg-1 text-center">
        <div class="header-border">
            <h4 class="header-title mt-2">COMMENTS</h4>
        </div>
        <span class="d-inline-block mt-4">Like this blog?</span>
        <a class="d-inline-block button-a" href="{% url 'like' pk=blog.id %}">Like</a>
        <i class="far fa-heart mute"><span class="ml-1 ">{{ blog.like }}</span></i>
        <span class="d-block mt-2 mb-2">I would love to hear from you! Simply leave a comment or query about this blog
            and I will reply.
        </span>

    </header>

    <!--COMMENT FORM-->
    <div class="col-12 col-md-7 col-lg-6 text-center">
        <form method="POST">
            {% csrf_token %}
            {{ form }}
            <button type="submit">POST COMMENT</button>
        </form>
    </div>

    <!--COMMENTS TODATE-->
    <div class="col-12 col-lg-10 offset-lg-1 text-center mt-4">
        {% for comment in comments %}
        <p class="mb-4">{{ comment.content }} <br>
            {% if comment.reply %}
            <span class="mr-2">REPLY</span><span>{{ comment.reply }}</span></p>
        {% endif %}
        <!--WHY: Included if to prevent REPLY from printing is no reply.-->
        {% endfor %}
    </div>

</section>
{% endblock %}