{% extends 'base.html' %}

{% load static %}

{% block title %}
Blog List Page
{% endblock %}

{% block content%}

<div class="row">

    {% for blog in blogs %}

    <div class="col-12 col-md-6 col-lg-4">

        <div class="card rounded-0 border-0 mb-3">

            <!-- Inline style allows url to come from database.-->
            <div class="height4 d-flex justify-content-center background-img"
                style="background-image: url({{ blog.image.url }})">

                <div class="p-4 align-self-center opacity">
                    <div class="border-top border-bottom border-dark p-2">
                        <a href="{% url 'blog' pk=blog.id %}">
                            <h1 class="text-center font-600 font-8rem mt-2">{{ blog.category.title }}</h1>
                            <h2 class="text-center font-500 font-1rem">{{ blog.title }}</h2>
                        </a>
                    </div>
                </div>

            </div>

        </div>


    </div>


{% endfor %}
</div>

<!--https://stackoverflow.com/questions/46316719/how-to-make-card-header-no-border-radius-in-bootstrap-4-->

{% endblock %}