{% extends 'base.html' %}

{% load static %}

{% block title %}
Blog List Page
{% endblock %}

{% block header %}
<div class="text-center">
    <h1>Blog List Page</h1>
</div>
{% endblock %}

{% block content%}



<div class="row">
   

   

    {% for blog in blogs %}

    
    <div class="col-12 col-md-6 col-lg-4">

        <div class="card rounded-0 border mb-3">
            <div class="wrap-img--card">
                <!-- Inline style allows url to come from database.-->
                <div class="background-img" style="background-image: url({% static 'images/paint.jpg' %})">
                </div>
            </div>
          
            <div class="card-body text-center stone height-cardtext">
                <a href="{% url 'blog' pk=blog.id %}">
                <h3 class="card-title">{{ blog.category.title }}</h3>
                <h4 class="card-text">{{ blog.title }}</h4>
            </a>
            </div>
        </div>
    </div>
    

    {% endfor %}
</div>

<!--https://stackoverflow.com/questions/46316719/how-to-make-card-header-no-border-radius-in-bootstrap-4-->

{% endblock %}