{% extends 'base.html' %}
{% block content %}
{% include 'include.html' with tagline='Outstanding comments needing reply.' %}

{% for comment in comments %}
<div class="bg-color--stone mb-4 p-2">

    <table class="mt-2">
        <tr>
            <td><strong>Category</strong></td>
            <td>{{ comment.blog.title }}</td>
        </tr>
        <tr>
            <td><strong>Date</strong></td>
            <td>{{ comment.date }}</td>
        </tr>
        <tr>
            <td><strong>Comment</strong></td>
            <td>{{ comment.content}}</td>
        </tr>
    </table>

    <form method="POST" action="{% url 'comments' comment.pk %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">POST REPLY</button>
    </form>
    <!--Credit https://stackoverflow.com/questions/38046905/sending-post-data-from-inside-a-django-template-for-loop-->

</div>
{% endfor %}

</div>
</section>
{% endblock %}