{% extends 'base.html' %}
{% load static %}
{% block content%}

<div class="row" data-page="{{ title }}">
  <!--LEFT COL-->
  <section class="col-12 col-md-8 col-lg-9">

    <!--INTRO ROW - SMALL DEVICES-->
    <article class="row d-md-none">
      <div class="col-12">
        {% include "home/include-intro.html" %}
      </div>
    </article>

    <!--PROJECTS ARTICLE-->
    <article class="row">
      <div class="col-12">
        <h1 class="h-article">Portfolio</h1>
        <span class="">Portfolio Sample Projects</span>
      </div>

      <!--PROJECTS CAROUSEL-->
      <div class="col-12 p-md-0 p-lg-15">
        <!--WHY: Padding removed on medium devices to line up with blog images as background image does not take padding into account.-->

        <div id="carouselExampleFade" class="carousel slide carousel-fade border-color--stone" data-ride="carousel">
          <div class="carousel-inner">

{% for project in projects %}
            <div class="carousel-item" data-interval="4000">
              <img src="{{ project.image_portrait.url }}" class="d-block d-md-none w-100" alt="{{ project.title }} image">
              <img src="{{ project.image_landscape.url }}" class="d-none d-md-block w-100" alt="{{ project.title }} image">
            </div>
            {% endfor %}
            <!--WHY: Active class added to first item in loop using js.-->
  
          <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

      </div>
    </article>

    <!--BLOG ARTICLE-->
    <article class="row mt-4 mb-4">
      <div class="col-12">
        <h1 class="h-article">Blogs</h1>
        <span class="">Most Liked Blogs</span>
      </div>

      <!--BLOG CARDS-->
      {% for blog in blogs %}
      <!--SM & LG SCREENS-->
      <div class="col-12 d-block d-md-none d-lg-block col-lg-4">
        <div class="card bg-color--stone rounded-0 border-0 mb-4 mb-md-2">
          <div class="bg-img height-150" style="background-image: url({{ blog.image.url }})"></div>
          <div class="card-body text-center bg-color--stone pb-0">
            <div class="header-border height-100">
              <a href="{% url 'blog' pk=blog.id %}">
                <h2 class="header-category">{{ blog.category.title }}</h2>
                <h3 class="header-title">{{ blog.title }}</h3>
              </a>
            </div>
            <div class="d-flex d-md-none justify-content-center pt-3 pb-3">
              <small class="align-self-center">{{ blog.content|truncatewords:25 }}</small>
            </div>
            <div class="d-none d-lg-flex justify-content-center height-160">
              <small class="align-self-center">{{ blog.content|truncatewords:25 }}</small>
            </div>
            <!--WHY: Card content div sized to contents on SM devices but height set on LG devices for consistency.-->
          </div>
        </div>
      </div>

      <!--MEDIUM SCREENS-->
      <div class="col-md-6 d-none d-md-block d-lg-none mb-4 bg-img height-200"
        style="background-image: url({{ blog.image.url }})">
      </div>
      <div class="col-md-6 d-none d-md-block d-lg-none mb-4 bg-color--stone text-center">
        <div class="header-border mt-3">
          <h2 class="header-category">{{ blog.category.title }}</h2>
          <h3 class="header-title">{{ blog.title }}</h3>
        </div>
        <small>{{ blog.content|truncatewords:20}}</small>
      </div>
      {% endfor %}
    </article>


    <!--end left col-->
  </section>

  <!--SIDEBAR-->
  <aside class="col-12 col-md-4 col-lg-3">

    <!--CLIENT INTRO-->
    <article class="d-none d-md-block">
      {% include "home/include-intro.html" %}
    </article>

    <!--INSTAGRAM FEED-->
    <article class="mb-4">
      <h2 class="h-article">INSTAGRAM</h2>
      <span>Most Recent Posts</span>
      <script src="https://assets.juicer.io/embed.js" type="text/javascript"></script>
      <link href="https://assets.juicer.io/embed.css" media="all" rel="stylesheet" type="text/css" />
      <ul class="juicer-feed" data-feed-id="colette_o_sullivan" data-per="1">
        <h1 class="referral"></h1>
        <!--WHY: Removing h1 results in juicer logo being displayed.-->
      </ul>
    </article>
    <!--WHERE: Instagram feed by Juicer https://www.juicer.io/-->

    <!--SITE ADMIN-->
      <section class="text-center">
        <small>
          <a class="mr-3" href="#">- site by coderbeez</a>
          <a class="link" href="{% url 'login' %}">admin -</a>
        </small>
      </section>

  </aside>
</div>
{% endblock %}

{% block script_body %}
<script src="{% static 'home/js/main.js' %}"></script>
{% endblock %}